*{
    box-sizing: border-box;
}
.img-count,.img-count img{position:relative;}
.img-count-in{ position:absolute; top:0; left:0; right:0; bottom:0; overflow:hidden;height:100%; *height:100%;}

.w-newsList1{position: relative;}
.w-newsList1 a{ display: block; text-decoration: none; color: #333;}
.w-newsList1 .news-item{ position:relative;}
.w-newsList1 .news-imgbox{ width:58%;}
.w-newsList1 .news-imgbox img{ transition:transform 3.5s; -webkit-transition:transform 3.5s;transform:scale(1.1); -webkit-transform:scale(1.1);}
.w-newsList1 .swiper-slide.swiper-slide-active .news-imgbox img{ transform:scale(1); -webkit-transform:scale(1);}
.w-newsList1 .aspectRatio{padding-bottom:450px;}
.w-newsList1 .news-text{text-align: left; position: absolute; right:0; width:50%; top: 50%;top:10%\9; *top:10%; transform:translateY(-50%); -webkit-transform:translateY(-50%); background: #fff; padding: 30px 15px 40px 4%; overflow:hidden;}
:root .w-newsList1 .news-text{ top:50%;}
.w-newsList1 .date{ line-height: 1.4; margin-bottom: 0.8em;}
.w-newsList1 .date .year{ font-size:46px; font-weight: bold; color: #000; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
.w-newsList1 .date .day_month{font-size:17px; color: #bebebe;}
.w-newsList1 .news-h{font-size:24px; font-weight: bold; line-height: 1.4; height:2.8em; overflow: hidden; margin-bottom: 0.3em;}
.w-newsList1 .news-sum{ line-height: 1.8; height:3.5em; overflow: hidden; color:#aaa;}
.w-newsList1 .more{margin-top:20px; width: 45px; height: 24px; float: right; background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAQCAYAAAAFzx/vAAABIUlEQVQ4jb3VMUscQRQH8J+yNgaLFAoPJSBnKaTRUhDBRoiVpBG09mMIljY2geuCIH4GG7FKE7BRSxGPyCtstLJQxGYPTr1D3LvNHxb2McP7McPO7FCz2dRPMhNExDec4gormXnbbf5wX9rrjOEr5nAcEeO1gpl5gQ08Y7YXOsgVysyDLuhEbWAP9E9ETNUGdqBreEQDJ220wBfMYKhK84joNXSFHWx3oIsFzjBdBftkGjgaxsN/wNoZLfAdkypu6QdZxV75foPlAk+4rtqxfdO8TUT8xG5ZXmIpM1u1fKURsY5DjJTYYma2qOFYRMQm9sve51jIzH/t8YGCEbGF3x3YUr7Z84GBETGPX2X5t8Te/TGKQYG4K58z/MjM+26TXgDh8VYjv3NjTgAAAABJRU5ErkJggg==") center no-repeat;}
.w-newsList1 .adSN_page{text-align: left; position: absolute; z-index: 9; left:50%; bottom:50%; margin-bottom: -123px; top: auto; transform: none; -webkit-transform: none; width:35%; padding-left: 4%; }
.w-newsList1 .adSN_page span{ display: inline-block; *display:inline; *zoom:1; margin:0 6px;}
.w-newsList1 .swiper-num{ position: absolute; z-index: 9; right: 15px; top:50%; margin-top: -130px; color: #bebebe;}
.w-newsList1 .swiper-num .active{ font-size:32px; font-weight: bold;}



.w-newsList2{position: relative; overflow:hidden; float: left; width: 100%; height: 95%;}
.w-newsList2 a{ display: block; text-decoration: none; color: #333;height: 100%}
.w-newsList2 .news-item{ position:relative;height: 100%}
.w-newsList2 .img{width:100%; height: 100%; overflow: hidden;}
.w-newsList2 .img img{width:100%; height: 100%;max-width:100%; max-height: 100%;transition:transform 3.5s; -webkit-transition:transform 3.5s;transform:scale(1.1); -webkit-transform:scale(1.1);}
.w-newsList2 .swiper-slide.swiper-slide-active .img img{ transform:scale(1); -webkit-transform:scale(1);}

.w-newsList2 .adSN_page{ position: absolute; left: auto; right:10px; width: auto; z-index: 10; text-align: right; }
.w-newsList2.swiper-container-horizontal .adSN_page{bottom:20px;}
.w-newsList2 .adSN_page span{ background: #c9c9c9; opacity: 1; width:40px; height: 5px; border-radius: 0; -webkit-border-radius: 0;}
.w-newsList2 .adSN_page span.swiper-pagination-bullet-active{background: #f60;}
.w-newsList2.swiper-container-vertical .adSN_page span{margin:15px 0;}

/*@media (max-width:960px){*/
/*.w-newsList2 .news-h{font-size:24px;}*/
/*.w-newsList2 .news-sum{ display: none;}*/
/*}*/
@media (max-width:767px){
    .w-newsList1 .news-imgbox{width:100%;}
    .w-newsList1 .aspectRatio{padding-bottom: 56.25%;}
    .w-newsList1 .news-text{ position: relative; width:100%; top:0; transform: none; -webkit-transform: none; padding:1.2em 4% 1.5em;}
    :root .w-newsList1 .news-text{ top:0;}
    .w-newsList1 .adSN_page{ left:0; bottom:2em; margin-bottom: 0;}
    .w-newsList1 .swiper-num{ bottom: 232px; top: auto; margin-top: 0;}

    .w-newsList2 .news-h{font-size:20px;}
    .w-newsList2 .img{float: none; width:100%;}
    .w-newsList2 .news-text{margin-right: 0; text-align: center; padding:1em 0 3em;}
    .w-newsList2 .more{position: relative; margin-top:1.2em; bottom: 0; display: inline-block;}
    .w-newsList2 .adSN_page{ top: auto; bottom: 0 !important; left: 0; right: 0 ; transform: none; -webkit-transform: none; text-align: center;}
    .w-newsList2 .adSN_page span{margin:0 0.3em !important; display: inline-block; width:1.8em; height: 0.25em;}
}
@media (max-width:480px){
    body{font-size:4vw;}
    .title{font-size:6vw;}
    .w-newsList1 .news-h{font-size:125%;}
    .w-newsList1 .date .year{ font-size:300%;}
    .w-newsList1 .date .day_month{ font-size: 110%;}
    .w-newsList1 .swiper-num{ bottom: 15em;}
    .w-newsList1 .swiper-num .active{ font-size: 200%;}

}

.news-main {
    height: auto;
    margin-top: 30px;
    text-align: left;

}
.news-main .container{
    width: 1150px;
    height: 100%;
    display: inline-block;
    position: relative;
    left: calc((100% - 1150px) / 2);
    /*right: 20%;*/
    /*top:10px;*/
    bottom:10px;

    /*margin: 10px 40px 40px 10px;*/
}

.news-content-left{
    width: 20%;
    height: 100%;

    float: left;
}

.news-title-a{
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #0b65ff;
    margin-bottom: 20px;
}

.news-content-a{
    width: 100%;
    height: 460px;
    background-color: #f2f2f2;
}

.news-content-a ul{
    padding-top: 10px;
    padding-left: 10px;
}
.news-content-a ul li{
    padding:10px 0 10px 20px;

    font-size: 18px;
    cursor: pointer;
    outline: none;

}
.news-content-a ul li:hover{
    color: #0b65ff;
    font-size: 22px;
    font-weight: 600;
}

.news-content-right{
    float: right;
    width: 79%;

}

.news-title-b{
    width: 100%;
    height: 40px;
    background-color: #f2f2f2;


}

.news-content-a span {
    position:relative;
    left: 4px;
}
.icon{
    position:relative; top:4px;
}

.news-content-b .item{
    padding: 20px 0 19px 0;
    overflow: hidden;
    border-bottom: 1px solid #f1f1f1;
}

.news-content-b .img {
    float: left;
    width: 230px;
    height: 175px;
    position: relative;
}

.news-content-b .text {
    float: left;
    width: 560px;
    padding-left: 30px;
}

.news-content-b .tit {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    max-height: 52px;
    overflow: hidden;
    display: block;
    color: #101D37;
    text-decoration: none;
    margin-top: -3px;
}
.news-content-b .tit:hover{
    color: #0b65ff;
}

.news-content-b .summary {
    max-height: 72px;
    margin: 11px 0;
    font-size: 14px;
    line-height: 24px;
    color: #888c8e;
    overflow: hidden;
}
.news-content-b .item img {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    border: 0;
    vertical-align: middle;
    max-width: 100%;
}
.news-content-b .info {
    font-size: 14px;
    overflow: hidden;
    line-height: 16px;
    margin-bottom: 19px;
}
.news-content-b .from {
    color: #b0b3b4;
    float: left;
    margin-right: 6px;
}
.news-content-b .dot {
    color: #b0b3b4;
    float: left;
    font-weight: 700;

}
.news-content-b .time {
    color: #b0b3b4;
    float: left;
    margin-left: 6px;
}

.news-content-b .hot {
    color: #b0b3b4;
    float: right;
    margin-right: 8px;
}

.news-content-a ul .active{
    background-color: #FFFFFF;
    color: #0b65ff;
    font-size: 22px;
    font-weight: 600;

}

.new_list{
    overflow: hidden
}
.list{
    height: 100%;
    display: block;
}
.list li{
    list-style: inside square;
    color: rgb(37,131,200);
    padding-top: 20px;
    width: 660px;
    cursor: pointer;
    outline: none;
}
.list li span{
    color: #000;
}
.list li .time{
    color: #b0b3b4;
    float: right;
}

.more-btn{
    margin-top: 20px;
    height: 40px;
    width: 100%;
    border: 1px solid #1b1e21;
    font-size: 22px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    outline: none;
}
